body{
    background-color:plum;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#gameStartTitle{
    margin-top: 10pc;
    margin-right: 5pc;
    float: right;
    align-self:auto;
    font-family: '양진체';
    font-size: large;
    font-size: 1.5pc;
}
.gameButtons{
    margin-top: 15pc;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    vertical-align: auto;
    font-family: 'SF_IceLemon';
    float: right;
    margin: auto 0;
}
#gamestart{
    border-style: none;
}