body{
    background-color:rgb(255, 231, 195);
}
div{
    float: left;
}

/* 폰트 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 시작 화면_가게 이미지 */
#main_store{
    display: inline;
    width: 50%; 
    height: 850px;
}
/* 시작 화면_타이틀 & 버튼 테이블 */
.main_background{
    float: right;
    margin-right: 200px;
    margin-top: 250px;
}
/* 시작 화면_타이틀 */
.main_background #main_title{
    font-family: '양진체';
    color: white;
    font-size: 70px;
}
.main_background #title{
    padding-bottom: 100px;
}
/* 시작 화면_게임시작 & 게임방법 버튼 */
.main_background button{
    border: 0;
    background-color: rgb(255, 231, 195);
    width: 40%;
}
.main_background #main_GameStart {
    font-size: 50px;
    color: snow;
    font-family: 'SF_IceLemon';
    text-align: center;
}
#main_GameStart:hover{
    font-size: 55px;
    color: skyblue;
}
.main_background #main_GameInfo {
    font-size: 50px;
    color: snow;
    font-family: 'SF_IceLemon';
    text-align: center;
}
#main_GameInfo:hover{
    font-size: 55px;
    color: skyblue;
}
.main_background a{
    text-decoration: none;
    color: rgb(228, 125, 91);
}
.main_background #sub{
    padding-bottom: 10px;
}