body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#GameBackground {
    background-image: url('../img/GameBackground.png');
    background-size: 1920px 1200px;
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 0;
}

.Game_countdown {
    position: absolute;
    margin-top: 290px;
    margin-left: 750px;
}
.Game_countdown img {
    width: 400px;
    height: 400px;
}



.customer {
    margin-top: 90px;
    margin-left: 450px;
    position: absolute;
    height: 300px;
    width: 300px;
    border: 0;
}
.customer img{
    height: 400px;
    width: 400px;
}

.orderBox {
    margin-top: 90px;
    margin-left: 750px;
    position: absolute;
    height: 330px;
    width: 800px;
    border: 0;
}
.orderBox img {
    height: 330px;
    width: 800px;
    border: 0;
}


#order_text {
    margin-top: 155px;
    margin-left: 1050px;
    position: absolute;
}
#order_text_cat {
    margin-top: 153px;
    margin-left: 1213px;
    width: 55px;
    height: 55px;
    position: absolute;
}

.hint {
    margin-top: 290px;
    margin-left: 1320px;
    position: absolute;
}
.hint img {
    height: 30px;
    width: 40px;
    border: 0;
}

.hint_view {
    position: absolute;
}
.hint_view img {
    margin-top: 345px;
    margin-left: 930px;
    height: 30px;
}



.order_Chk{
    margin-left: 1020px;
    position: absolute;
    height: 150px;
    width: 300px;
    margin-top: 175px;
    border: 0;
}
.order_Chk img{
    height: 150px;
    width: 230px;
    border: 0;
}

.Cutting_board {
    position: absolute;
    border: 0;
}
.Cutting_board img{
    width: 800px;
    margin-left: 400px;
    margin-top: 580px;   
    height: 300px;
    border: 0;
}

.order_Sandwich {
    margin-left: 950px;
    position: absolute;
    height: 150px;
    width: 300px;
    margin-top: 110px;
    border: 0;
}
.order_Sandwich img {
    height: 280px;
    width: 380px;
    border: 0;
}


#ketchupImg {
    position: absolute;
    margin-top: 570px;
    margin-left: 70px;
    height: 250px;
    width: 300px;
    border: 0;
}
#ketchupImg img {
    height: 250px;
    width: 150px;
}

#MayonnaiseImg{
    position: absolute;
    margin-top: 570px;
    margin-left: 170px;
    height: 250px;
    width: 300px;
    border: 0;
}
#MayonnaiseImg img {
    height: 250px;
    width: 170px;
}

#strawberry_jamImg {
    position: absolute;
    margin-top: 580px;
    margin-left: 280px;
    height: 250px;
    width: 250px;
    border: 0;
}
#strawberry_jamImg img {
    height: 250px;
    width: 250px;
}

.under_Bread {
    margin-bottom: 0;
    position: absolute;
    margin-left: 750px;
    /*650px*/
    margin-top: 600px;
    border: 0;
}
.under_Bread img {
    width: 270px;
    height: 250px;
}

#topBreadImg {
    margin-bottom: 0;
    position: absolute;
    margin-left: 590px;
    /*810*/
    margin-top: 600px;
    border: 0;
}
#topBreadImg img {
    width: 270px;
    height: 250px;
}



#step1 {   

    position: absolute;
    border: 0;
}
#step1 img {
    margin-left: 535px;
    margin-top: 437px;
    width: 700px;
    height: 600px;
}


#step2{   
    position: absolute;
    border: 0;
}
#step2 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}


#step3{   

    position: absolute;
    border: 0;
}
#step3 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}


#step4{   

    position: absolute;
    border: 0;
}
#step4 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}


#step5{   

    position: absolute;
    border: 0;
}
#step5 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}

#step6{   
   
    position: absolute;
    border: 0;
}
#step6 img {
    width: 700px;
    margin-top: 437px;
    margin-left: 535px;
    height: 600px;
    border: 0;
}

#step7{   

    position: absolute;
    border: 0;
}
#step7 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}


#step8{   

    position: absolute;
    border: 0;
}
#step8 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}


#step9{   
    position: absolute;
    border: 0;
}
#step9 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}

#step10{   
    position: absolute;
    border: 0;
}
#step10 img {
    margin-top: 437px;
    margin-left: 535px;
    width: 700px;
    height: 600px;
    border: 0;
}


#baconImg {
    position: absolute;
    margin-top: 350px;
    margin-left: 1620px;
    width: 280px;
    height: 250px;
    border: 0;
}
#baconImg img {
    width: 280px;
    height: 250px;
}

#redonionImg {
    position: absolute;
    margin-top: 350px;
    margin-left: 1350px;
    width: 280px;
    height: 250px;
    border: 0;
}
#redonionImg img {
    width: 280px;
    height: 250px;
}

#pickleImg {
    position: absolute;
    margin-top: 350px;
    margin-left: 1080px;
    width: 280px;
    border: 0;
    height: 250px;
}
#pickleImg img {
    width: 280px;
    height: 250px;
}

#potatosaladImg {
    position: absolute;
    margin-top: 350px;
    margin-left: 810px;
    width: 280px;
    height: 250px;
    border: 0;
}
#potatosaladImg img {
    width: 280px;
    height: 250px;
}

#sausageImg {
    position: absolute;
    margin-top: 350px;
    margin-left: 540px;
    width: 280px;
    height: 250px;
    border: 0;
}
#sausageImg img {
    width: 280px;
    height: 250px;
}

#hemImg {
    position: absolute;
    margin-top: 360px;
    margin-left: 270px;
    width: 280px;
    height: 250px;
    border: 0;
}
#hemImg img {
    width: 280px;
    height: 250px;
}


#cheeseImg {
    position: absolute;
    margin-top: 350px;
    width: 280px;
    height: 250px;
    border: 0;
}
#cheeseImg img {
    width: 280px;
    height: 250px;
}


#lettuceImg {
    position: absolute;
    margin-top: 570px;
    margin-left: 1620px;
    width: 280px;
    height: 250px;
    border: 0;
}
#lettuceImg img {
    width: 280px;
    height: 250px;
}

#tomatoImg {
    position: absolute;
    margin-top: 570px;
    margin-left: 1350px;
    width: 280px;
    height: 250px;
    border: 0;
}
#tomatoImg img {
    width: 280px;
    height: 250px;
}

#chickenImg {
    position: absolute;
    margin-top: 570px;
    margin-left: 1080px;
    width: 280px;
    height: 250px;
    border: 0;
}
#chickenImg img {
    width: 280px;
    height: 250px;
}


.user_money{
    float: right;
    margin-top: 65px;
    margin-right: 163px;
    font-family: 'KOTRAHOPE';
    font-size: xx-large;
}

.user_money #money {
    display: inline;
}

#background {
    font-family: 'KOTRAHOPE';
    margin-top: 210px;
    margin-left: 470px;
    position: absolute; 
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    visibility: collapse;
}
#text1 {
    width: 1000px;
    font-size: 130px;
    position: absolute; 
    margin-top: 110px;
    text-align: center;
    visibility: collapse;
}
#text2 {
    width: 1000px;
    text-align: center;
    display: inline;
    font-size: 110px;
    position: absolute; 
    margin-top: 290px;
    visibility: collapse;
}
#backMain{
    position: absolute; 
    font-size: 70px;
    margin-top: 20px;
    margin-left: 900px;
    visibility: collapse;
}

#cat {
    position: absolute; 
    width: 200px;
    visibility: collapse;
}
