body {
    padding: 0;
    margin: 0;
}

.GameBackground {
    background-image: url('../img/GameBackground.png');
    width: 1920px;
    height: 980px;
    background-size: 1920px 1200px;
    border: 0;
    position: relative;
    text-align:center; line-height:100px; margin:0 auto;  color:#000; font-size:12px;
}

.customer {
    margin-top: 2000px;
}